@import './common/base';

.todo {
  width: 55rem;
  box-shadow: 1px 1px 6px 1px #00000061;
  padding-bottom: 1rem;
  margin: 5rem auto 0;
  border-radius: 4px;

  &__title {
    font-size: 3rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__group {
    display: flex;
    align-items: center;
    padding-bottom: 2.5rem;
    justify-content: center;
    position: relative;

    & form {
      display: flex;
    }

    & input {
      width: 35rem;
      height: 3rem;
      border-radius: 4px;
      border: 1px solid #000000d4;
      padding-left: 0.7rem;

      &:focus {
        box-shadow: 0px 0px 3px 0px #0000006b;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;

    &__name {
      font-size: 1.4rem;
      font-weight: 500;
      padding-left: 1rem;
      padding-right: 2rem;
      width: 339px;
    }

    & input[type='checkbox'] {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__btn {
    background-color: red;
    padding: 0 1rem;
    line-height: 3rem;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;

    &--add {
      background-color: #20db71;
      border: 1px solid #20db71;

      &:hover {
        background-color: #1ccb68;
      }
    }

    &--update {
      background-color: #ffcf42;
      border: #ffcf42;

      &:hover {
        background-color: #edc140;
      }
    }

    &--delete {
      background-color: #f45254;
      border: 1px solid #f45254;

      &:hover {
        background-color: #eb4345;
      }
    }

    & i {
      padding-right: 0.5rem;
      color: #000000d9;
    }
  }
  &__input {
    &--error {
      border: 1px solid red !important;
    }
  }

  &__notification {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
  }
}
.mr-05 {
  margin-right: 0.5rem;
}

.form__error {
  color: red;
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
}
